.Review-item {
    width: 571px;
    border: 1px soild #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
    
}
.review-details{
    flex-grow: 1;
}
.review-details p{
    margin: 0 15px;
}
.Review-item img{
    width: 91px;
    height: 91px;
    border-radius: 8px;
}
.Review-item .product-title{
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.orange-text{
    color: orange;
}

/* btn detele style */
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn{
    font-size: 21px;
    color: red;
}